VOICE_TTS_ENV=local
VOICE_TTS_LOG_LEVEL=INFO
VOICE_TTS_WORKDIR=.local
VOICE_TTS_GPT_SOVITS_ROOT=
VOICE_TTS_WEIGHTS_ROOT=
VOICE_TTS_TEMP_ROOT=.local/tmp
VOICE_TTS_DEFAULT_DEVICE=auto
VOICE_TTS_USE_FP16=true

